@media only screen and (max-width: 320px)
{
    body
    {
        width: 320px;
    }
    .logo
    {
        font-size: 4vh;
    }
    .navbar--text
    {
        font-size: 1.7vh;
        padding: 5px;
    }
    .regLog--text
    {
        border: 1px solid white;
        border-radius: 30px;
        font-size: 2vh;
        padding: 5px;
    }
    
    .header
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-exchenger
    {
        border-radius: 25px;
        padding: 0px;
    }
    .sellBuy--text
    {
        font-size: 2vh;
    }
    .exchange-form-reverse-image
    {
        width: 10px;
        height: 10px;
    }
    .sell, .buy
    {
        padding: 10px;
    }
    .filter--text
    {
        padding: 2px;
        font-size: 1vh;
    }
    .sellBuy--input1, .sellBuy--input2
    {
        width: 130px;
        height: 35px;
        font-size: 2vh;
    }
    .padding--input
    {
        padding-top: 0px;
    }
    .infoConv
    {
        font-size: 1.3vh;
    }
    .exchenger--button
    {
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .button
    {
        height: 4vh;
        width: 20vh;
        border-radius: 25px;
        font-size: 2vh;
    }
    .main--info
    {
        display: flex;
        flex-direction: column;
    }
    .info--text
    {
        padding: 10px;
    }
    .info--block
    {
        border-radius: 25px;
    }
    .info--text--title
    {
        font-size: 4vh;
        padding: 5px;
    }
    .info--text--description
    {
        font-size: 2vh;
        padding: 6px;
    }
    .info--line
    {
        margin-right: 50px;
        margin-left: 50px;
    }
    .footer--img1
    {
        width: 35px;
        height: 15px;
    }
    .footer--img2, .footer--img3
    {
        width: 35px;
        height: 30px;
    }
    .footer--info
    {
        font-size: 1vh;
    }
}
@media only screen and (max-width: 375px)
{
    body
    {
        width: 375px;
    }
    .logo
    {
        font-size: 4vh;
    }
    .navbar--text
    {
        font-size: 1.7vh;
        padding: 5px;
    }
    .regLog--text
    {
        border: 1px solid white;
        border-radius: 30px;
        font-size: 2vh;
        padding: 5px;
    }
    
    .header
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-exchenger
    {
        border-radius: 25px;
        padding: 0px;
    }
    .sellBuy--text
    {
        font-size: 2vh;
    }
    .exchange-form-reverse-image
    {
        width: 10px;
        height: 10px;
    }
    .sell, .buy
    {
        padding: 10px;
    }
    .filter--text
    {
        padding: 2px;
        font-size: 1vh;
    }
    .sellBuy--input1, .sellBuy--input2
    {
        width: 130px;
        height: 35px;
        font-size: 2vh;
    }
    .padding--input
    {
        padding-top: 0px;
    }
    .infoConv
    {
        font-size: 1.3vh;
    }
    .exchenger--button
    {
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .button
    {
        height: 4vh;
        width: 20vh;
        border-radius: 25px;
        font-size: 2vh;
    }
    .main--info
    {
        display: flex;
        flex-direction: column;
    }
    .info--text
    {
        padding: 10px;
    }
    .info--block
    {
        border-radius: 25px;
    }
    .info--text--title
    {
        font-size: 4vh;
        padding: 5px;
    }
    .info--text--description
    {
        font-size: 2vh;
        padding: 6px;
    }
    .info--line
    {
        margin-right: 50px;
        margin-left: 50px;
    }
    .footer--img1
    {
        width: 35px;
        height: 15px;
    }
    .footer--img2, .footer--img3
    {
        width: 35px;
        height: 30px;
    }
    .footer--info
    {
        font-size: 1vh;
    }
}
@media only screen and (max-width: 425px)
{
    body
    {
        width: 425px;
    }
    .logo
    {
        font-size: 4vh;
    }
    .navbar--text
    {
        font-size: 1.7vh;
        padding: 5px;
    }
    .regLog--text
    {
        border: 1px solid white;
        border-radius: 30px;
        font-size: 2vh;
        padding: 5px;
    }
    
    .header
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-exchenger
    {
        border-radius: 25px;
        padding: 0px;
    }
    .sellBuy--text
    {
        font-size: 2vh;
    }
    .exchange-form-reverse-image
    {
        width: 10px;
        height: 10px;
    }
    .sell, .buy
    {
        padding: 10px;
    }
    .filter--text
    {
        padding: 2px;
        font-size: 1vh;
    }
    .sellBuy--input1, .sellBuy--input2
    {
        width: 130px;
        height: 35px;
        font-size: 2vh;
    }
    .padding--input
    {
        padding-top: 0px;
    }
    .infoConv
    {
        font-size: 1.3vh;
    }
    .exchenger--button
    {
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .button
    {
        height: 4vh;
        width: 20vh;
        border-radius: 25px;
        font-size: 2vh;
    }
    .main--info
    {
        display: flex;
        flex-direction: column;
    }
    .info--text
    {
        padding: 10px;
    }
    .info--block
    {
        border-radius: 25px;
    }
    .info--text--title
    {
        font-size: 4vh;
        padding: 5px;
    }
    .info--text--description
    {
        font-size: 2vh;
        padding: 6px;
    }
    .info--line
    {
        margin-right: 50px;
        margin-left: 50px;
    }
    .footer--img1
    {
        width: 35px;
        height: 15px;
    }
    .footer--img2, .footer--img3
    {
        width: 35px;
        height: 30px;
    }
    .footer--info
    {
        font-size: 1vh;
    }
}
